h1{
    background-color: orange;
    color: white;
    text-align: center;
}

.paragraph1{
    border: 5em;
    margin: 2em;
    padding: 3em;
    background-color: blue;
    font-style: italic;
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.paragraph2{
    border: 5em; 
    margin: 2em;
    padding: 1em;
    background-color: black;
    color: yellow;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

form{
    background-color: lightblue;
    text-align: center;
}

button{
    background-color: red;
    color: white;
}